/*VARIABLES*/

$font-header: 'Montserrat', sans-serif;

$font-text: 'Roboto', monospace;

$font-brand: 'Dancing Script', cursive;

$color-brand: #FDB833;

$color-main: #1789FC;



/*GLOBAL RESET*/


html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

/*GLOBAL*/

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: center;
    font-family: $font-text;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 0.75rem;
    font-weight: 400 ;
}

h1, h2, h3 {
    margin-bottom: 1rem;
    font-family: $font-header;
    text-transform: uppercase;
}


.button {
    padding: 10px 20px;
    background-color: $color-brand;
    font-family: $font-text;
    color: white;
    border: none;
    border-radius: 5px;
}

section {
    padding: 96px 0;

    .section-description {
        color: darkgray;
    }
}

.container-textbox {
    margin-bottom: 48px;
}

/*HEADER*/

.navbar {
    padding: 48px 0;
    background-color: transparent;
}

.navbar-linklist {
   
    li {
        display: inline-block;
        
        .nav-link {
            margin-right: 0.8rem;
        }
    }
}

.navbar-brand {
    text-align: left;
    font-family: $font-brand;

        a {
            color: $color-brand;
        }
}

.banner {
    background-image: url("https://i.postimg.cc/CMJVQtyn/pawel-czerwinski-o-X0d-Dq-BHx7-Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.banner-body {
    padding: 48px 0 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*SERVICES*/

.services {

    i {
        font-size: 30px;
        color: $color-brand;
        width: 60px;
        height: 60px;
        border: 2px solid $color-brand;
        border-radius: 50%;
        background-color: white;
        line-height: 55px;
        text-align: center;
        padding: 0px;
    }

    h2 {
        margin-top: 24px;
    }

    p {
        font-size: 0.75rem;
    }
}

/*portfolio*/

.portfolio {
    background-color: rgb(241, 241, 241);

    .services-card {
        margin-bottom: 24px;
    }

    .services-card-textbox {
        background-color: white;
        padding: 24px 0;
        p {
            color: darkgray;
        }
    }

    .card-img {
        width: 100%;
        height: 240px;

        img {
            object-fit: cover;
        }

    }
}

/*footer*/

footer {
    padding: 24px 0;

    .footer-title {
        display: flex;
        align-items: center;
        text-align: left;

        h3 {
            margin: 0;
        }
    }

    .footer-logobox {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            margin-right: 10px;
            font-size: 16px;
            color: white;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: black;
            line-height: 32px;
            text-align: center;
        }
    }
}